xerces/src/main/resources/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://www.bax.com/xsd"
           elementFormDefault="qualified"
           xmlns="http://www.bax.com/xsd"
           xmlns:b="http://www.bax.com/xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.0">
    <xs:complexType name="Car">
        <xs:attribute name="model" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:element name="car" type="b:Car"/>
</xs:schema>